---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: core-apps
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io/background
spec:
  destination:
    name: ''
    namespace: argocd
    server: https://kubernetes.default.svc
  source:
    path: 'argocd/applications'
    repoURL: {{ .Values.gitopsRepo | quote }}
    targetRevision: {{ .Values.gitopsRef | quote }}
    directory:
      recurse: false
  sources: []
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - PruneLast=true
